---
- name: Install Nginx and Start Nginx
  hosts: all
  become: true  #become-user: root

  tasks:
     - name: Install nginx
       apt:
         name: nginx
         state: present
     - name: Start nginx
       service: 
         name: nginx
         state: started
       
